.messageText {
  @apply relative
         p-[10px] 
         max-w-[190px]
         min-h-[40px]  
         rounded-[7px] 
         break-words 
         text-white
         min-[400px]:max-w-[250px]
         min-[530px]:max-w-[400px];
}

.decoration {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 10px;
  border-left-width: 10px;
}
